<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false">

    <testsuites>
        <testsuite name="Auth">
            <directory>tests/Auth</directory>
        </testsuite>
        <testsuite name="Home">
            <directory>tests/Home</directory>
        </testsuite>
        <testsuite name="Customers">
            <directory>tests/Customers</directory>
        </testsuite>
    </testsuites>
</phpunit>